langchain
langchain-groq
faiss-cpu
tiktoken
langchain-community
langchain_community
langchain-huggingface
langchain-openai
chromadb
langchain_core
sentence-transformers
pypdf
python-dotenv
pdfminer
python-docx
docx2txt
pymupdf
ipywidgets
unstructured[xlsx]
unstructured[docx]
pandas
openpyxl
numpy
matplotlib
scikit-learn

