langchain
langchain-groq
langchain-community
langchain-huggingface
langchain-openai
langchain-text-splitters
langchain-core

chromadb
faiss-cpu
tiktoken
sentence-transformers

pypdf
pdfminer.six
python-dotenv

python-docx
docx2txt
pymupdf
unstructured[xlsx]
unstructured[docx]

pandas
openpyxl
numpy
matplotlib
scikit-learn
ipywidgets
